@use "global" as *;

.archive-campaign {
    margin-top: rem(52);
    @include mq(md) {
        margin-top: rem(150);
    }

}

.archive-campaign__inner {
    position: relative;
}

.archive-campaign__inner::before {

    content: "";
    display: block;
    max-width: rem(301);
    width: 32vw;
    aspect-ratio: 301 / 138;
    background-image: url(../images/common/bg-fish2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: rem(-25);
    z-index: -1;
    @include mq(md) {
        top: rem(-70);
        right: clamp(rem(590), 18.161rem + 43.15vw, rem(880));
    }
}

.archive-campaign__categories {
    max-width: rem(500);
    margin-right: auto;
    margin-left: auto;
    @include mq(md) {
        max-width: inherit;
        margin-right: inherit;
        margin-left: inherit;
    }
}

.archive-campaign__items {
    margin-top: rem(40);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: rem(40);
    @include mq(md) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(80);
        column-gap: rem(40);
    }
}

.archive-campaign__item {
    max-width: rem(280);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include mq(md) {
        max-width: rem(520);
    }
}

.archive-campaign__pagenavi {
    margin-top: rem(80);
}