@use "global" as *;

.page-toTop {
    position: sticky;
    bottom: rem(15);
    z-index: 5;
    margin-top: rem(36);
    @include mq(md) {
        margin-top: rem(60);
        bottom: rem(20);
    }
}