@use "global" as *;

.top-campaign {
    margin-top: rem(40);
    /* 横スクロール防止 */
    overflow: hidden;
    @include mq(md) {
        margin-top: rem(80);
    }
}

.top-campaign__inner {
    // prev, next-button用
    position: relative;
}

.top-campaign__title {
    text-align: center;
}

.top-campaign__swiper {
    margin-top: rem(24);
    margin-right: calc(50% - 50vw);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.top-campaign__button {
    text-align: center;
    margin-top: rem(30);
    @include mq(md) {
        margin-top: rem(70);
    }
}