@use "global" as *;

.top-information {
    background-color: $bg-blue;
    position: relative;
    margin-top: rem(80);
    @include mq(md) {
        margin-top: rem(140);
    }
}

.top-information__inner {
    padding: rem(80);
    @include mq(md) {
        padding: rem(100);
    }
}

.top-information__title {
    text-align: center;
}

.top-information__media {
    margin-top: rem(24);
    @include mq(md) {
        margin-top: rem(40);
    }
}
