@use "global" as *;

.top-campaign {
    /* 横スクロール防止 */
    overflow-x: hidden;
}

.top-campaign--layout {
    padding-top: rem(40);
    @include mq(md) {
        padding-top: rem(120);
    }
}

.top-campaign__inner {
    // prev, next-button用
    position: relative;
}

.top-campaign__title {
    text-align: center;
}

.top-campaign__swiper {
    margin-top: rem(24);
    margin-right: calc(50% - 50vw);
    @include mq(md) {
        margin-top: rem(40);
    }
}

.top-campaign__button {
    text-align: center;
    margin-top: rem(30);
    @include mq(md) {
        margin-top: rem(70);
    }
}