@use "global" as *;

.top-blog {
    @include mq(md) {
        background-image: url(../images/common/blog-bg.jpg);
        background-size: 100% 60.2%;
        background-position: top;
        background-repeat: no-repeat;
    }
}

.top-blog__inner {
    padding-top: rem(80);
    @include mq(md) {
        padding-top: rem(100);
        position: relative;
    }
}

.top-blog__inner::before {
    @include mq(md) {
        content: "";
        display: block;
        width: 30.35vw;
        max-width: rem(437);
        aspect-ratio: 437 / 201;
        background-image: url(../images/common/bg-fish1-white.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 24px;

        //  要検証
        left: clamp(-5rem, -12.575rem + 15.36vw, 1.25rem);
    }
}

.top-blog__title {

}

.top-blog__cards {
    margin-top: rem(24);
    @include mq(md) {
        margin-top: rem(80);
    }
}

.top-blog__button {
    text-align: center;
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(80);
    }
}

