@use "global" as *;

.top-information--layout {
    padding-top: rem(80);
    @include mq(md) {
        padding-top: rem(140);
    }
}

.top-information__bg {
    background-color: $bg-blue;
    padding: rem(80) 0;
    @include mq(md) {
        padding: rem(100) 0;
    }
}

.top-information__title {
    text-align: center;
}

.top-information__media {
    margin-top: rem(24);
    @include mq(md) {
        margin-top: rem(40);
    }
}
