@use "global" as *;

.button {
    display: inline-block;
    background-color: $accent-color;
    color: $white;
    font-family: $second-font-family;
    line-height: calc(22 / 14);
    padding: rem(16) rem(88) rem(16) rem(40);
    font-size: rem(14);
    position: relative;
    transition: all 0.4s ease;
    border: 1px solid $accent-color;
    box-shadow: 4px 4px 0 -1px $white, 4px 4px 0 0 $accent-color;
}
.button::first-letter {
    text-transform: capitalize;
}
.button::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: rem(40);
    height: rem(6);
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    margin-left: rem(8);
    top: calc(50% - 1px);
    transform: skew(45deg) translateY(-50%);
}

/* ===============================================
# hover時の挙動
=============================================== */
.button:hover {
    background-color: $white;
    color: $accent-color;
    border: 1px solid $accent-color;
}
.button:hover::after {
    border-bottom: 1px solid $accent-color;
    border-right: 1px solid $accent-color;
}
