@use "global" as *;

.cardLabel {
    display: inline-block;
    color: $accent-color;
    font-size: rem(12);
    border: 1px solid $accent-color;
    line-height: calc(22 / 12);
    padding: rem(4) rem(12);
    @include mq(md) {
        padding: rem(6) rem(16);
    }
}