@use "global" as *;

.cards3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: rem(40);
    @include mq(md) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(80);
    }
}

.cards3__item {
    @include mq(md) {
        max-width: rem(520);
        width: 100%;
    }
}