@use "global" as *;

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(16);
    column-gap: rem(21);
    @include mq(md) {
        display: flex;
        flex-wrap: wrap;
        column-gap: rem(32);
    }
}

.categories__item {
    color: $accent-color;
    background-color: $white;
    border: 1px solid $accent-color;
    font-size: rem(14);
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    transition: 0.2s ease-in-out;
    max-width: rem(162);
    width: 100%;
}

.categories__item:hover {
    color: $white;
    background-color: $accent-color;
}

.categories__item a {
    display: inline-block;
    height: inherit;
    width: 100%;
    padding: rem(9) rem(20);
}

.categories__item.is-active {
    color: $white;
    background-color: $accent-color;
}