@use "global" as *;

.information {
    background-color: $bg-blue;
    padding: rem(80) 0;
    @include mq(md) {
        padding: rem(100) 0;
    }
}

.information__title {
    text-align: center;
}

.information__media {
    margin-top: rem(24);
    @include mq(md) {
        margin-top: rem(40);
    }
}
