@use "global" as *;

.mainView {
    height: 100vh;
    position: relative;
}

.mainView__title {
    text-align: center;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.mainView__mainTitle {
    font-family: $title-font-family;
    text-transform: uppercase;
    font-weight: $normal;
    line-height: calc(100 / 80);
    letter-spacing: 0.52em;
    text-indent: 0.52em;
    font-size: rem(40);
    @include mq(md) {
        font-size: rem(80);
    }
}

.mainView__subTitle {
    font-family: $second-font-family;
    font-weight: $normal;
    font-size: rem(20);
}

.mainView__swiper {
    height: 100%;
}

.mainView__image img {
    height: 100%;
    object-fit: cover;
}