@use "global" as *;


.nav {
    color: $white;
    line-height: calc(18 / 16);
}

.nav__wrapper {
    display: flex;
    gap: rem(7);
}

.nav__block {
    width: 50%;
    @include mq(md) {
        display: flex;
    }
}

.nav__list {
    @include mq(md) {
        width: 50%;
    }
}

.nav__item {
    font-weight: $bold;
    position: relative;
    margin-left: rem(22);
}

.nav__item + .nav__item {
    margin-top: rem(16);
}

.nav__item a {
    display: block;
    padding: rem(12) 0;
}
.nav__item > a::before {
    content: "";
    display: inline-block;
    width: rem(18);
    height: rem(18);
    background-image: url(../images/common/menu-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: rem(-22);
}

.nav__item span {
    display: inline-block;
}

.nav__categoryList {

}

.nav__categoryItem {
    font-weight: $normal;
}