@use "global" as *;


.pcNav {
    color: $white;
}

.pcNav__list {
    display: flex;
}

.pcNav__item {
    text-align: center;
    font-family: $second-font-family;
    position: relative;
    transition: 0.4s;
}

.pcNav__item:not(:first-child) {
    padding-left: clamp(rem(5), -0.8237rem + 2.3041vw, rem(20));
}

.pcNav__item:not(:last-child) {
    padding-right: clamp(rem(5), -0.8237rem + 2.3041vw, rem(20));
}


.pcNav__item::first-letter {
    text-transform: capitalize;

}

.pcNav__item:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.pcNav__item a {
    font-size: rem(18);
    display: inline-block;
}

.pcNav__subItem {
    display: block;
    font-size: rem(10);
}
