@use "global" as *;


.pcNav {
    color: $white;
}

.pcNav__list {
    display: flex;
    align-items: center;
}

.pcNav__list,
.pcNav__item,
.pcNav__item a {
    height: inherit;
}

.pcNav__item {
    text-align: center;
    font-family: $second-font-family;
    position: relative;
}

.pcNav__item a {
    font-size: rem(18);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 clamp(rem(5), -0.8237rem + 2.3041vw, rem(20));
    transition: 0.4s;
    position: relative;
}

.pcNav__item a::first-letter {
    text-transform: capitalize;
}

.pcNav__item a::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: rem(1);
    background-color: $white;
    position: absolute;
    bottom: rem(20);
    left: 0;
    transform: scaleX(0);
    transition: 0.4s;
}

.pcNav__item a:hover::after {
    transform: scaleX(1);
    transition: 0.4s;
}

.pcNav__subItem {
    display: block;
    font-size: rem(10);
}
