@use "global" as *;

.sectionTitle {
    font-weight: $normal;
}

.sectionTitle__main {
    display: block;
    font-family: $second-font-family;
    font-size: rem(32);
    line-height: calc(40 / 32);
    @include mq(md) {
        font-size: rem(40);
    }
}

.sectionTitle__main::first-letter {
    text-transform: capitalize;
    color: $accent-color;
}

.sectionTitle__main--large {
    font-size: rem(80);
    line-height: 0.9;
    @include mq(md) {
        font-size: rem(80);
    }
}

.sectionTitle__sub {
    color: $accent-color;
    display: block;
    font-size: rem(12);
    line-height: calc(18 / 12);
    margin-top: rem(5);
}


.sectionTitle__main--white {
    @include mq(md) {
        color: $white;
    }
}

.sectionTitle__main--white::first-letter {
    @include mq(md) {
        color: $white;
    }
}

.sectionTitle__sub--white {
    @include mq(md) {
        color: $white;
    }
}