@use "global" as *;

.sectionTitle {
    font-weight: $normal;
}

.sectionTitle__main {
    display: block;
    text-transform: capitalize;
    font-family: $second-font-family;
    font-size: rem(32);
    line-height: calc(40 / 32);
    @include mq(md) {
        font-size: rem(40);
    }
}
.sectionTitle__main::first-letter {
    color: $accent-color;
}

.sectionTitle__sub {
    color: $accent-color;
    display: block;
    font-size: rem(12);
    line-height: calc(18 / 12);
}


.sectionTitle__main--white {
    @include mq(md) {
        color: $white;
    }
}
.sectionTitle__main--white::first-letter {
    @include mq(md) {
        color: $white;
    }
}
.sectionTitle__sub--white {
    @include mq(md) {
        color: $white;
    }
}