@use "global" as *;

.subVoice__categories {
    max-width: rem(345);
    margin-right: auto;
    margin-left: auto;
    @include mq(md) {
        max-width: inherit;
        margin-right: inherit;
        margin-left: inherit;
    }
}

.subVoice__items {
    margin-top: rem(40);
}

.subVoice__item {
    max-width: rem(280);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include mq(md) {
        max-width: rem(520);
        width: calc(520 / 1080) * 100%;
    }
}

.subVoice__pagenavi {
    margin-top: rem(80);
}