@use "global" as *;

.sub-mainView {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(460);
    position: relative;
    @include mq(md) {
        height: rem(548);
    }
}

.sub-mainView__title {
    color: $white;
    font-size: rem(40);
    line-height: 1;
    font-weight: $normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq(md) {
        font-size: rem(80);
    }
}

.sub-mainView__title::first-letter {
    text-transform: capitalize;
}

.sub-mainView--campaign {
    background-image: url(../images/pages/campaign-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/campaign-mv-pc.jpg);
    }
}

.sub-mainView--about {
    background-image: url(../images/pages/aboutus-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/aboutus-mv-pc.jpg);
    }
}

.sub-mainView--information {
    background-image: url(../images/pages/information-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/information-mv-pc.jpg);
    }
}

