@use "global" as *;

.subPrice__item {
    margin: 0 auto;
    max-width: rem(500);
    @include mq(md) {
        max-width: rem(700);
    }
}

.subPrice__item + .subPrice__item {
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(80);
    }
}