@use "global" as *;

@use "global" as *;

.subAbout__inner {
    position: relative;
}

.subAbout__inner::before {
    @include mq(md) {
        content: "";
        display: block;
        width: 30.35vw;
        max-width: rem(194);
        aspect-ratio: 194 / 181;
        background-image: url(../images/common/bg-sango.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
        position: absolute;
        bottom: -90px;
        left: clamp(rem(625), 14.42rem + 57.59vw, rem(1012));
    }
}

.subAbout__title {
    text-align: center;
}

.subAbout__subtitle {
    font-size: rem(40);
    color: $accent-color;
    line-height: 1;
    font-family: $second-font-family;
    font-weight: $normal;
    position: absolute;
    top: rem(24);
    left: rem(24);
    color: $white;
    @include mq(md) {
        position: relative;
        top: 0;
        left: 0;
        font-size: rem(80);
        color: $white;
        line-height: calc(100 / 80);
    }
}

.subAbout__box {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.subAbout__body {
    margin-top: rem(40);
    @include mq(md) {
        margin-top: 0;
        position: absolute;
        top: 50%;
        right: rem(41);
        transform: translateY(-50%);
        z-index: 5;
        display: flex;
        max-width: rem(840);
        width: 100%;
        gap: rem(40);
    }
}

.subAbout__content {
    @include mq(md) {
        max-width: rem(400);
        padding-top: rem(50);
        width: 100%;
        margin-top: 0;
        color: $white;
    }
}

.subAbout__image img {
    object-fit: cover;
    height: 100%;
}

.subAbout__image--small {
    aspect-ratio: 128 / 194;
    width: calc(128 / 345) * 100%;
    position: relative;
    z-index: 1;
}

.subAbout__image--large {
    aspect-ratio: 281 / 186;
    width: 100%;
    @include mq(md) {
        width: calc(281 / 345) * 100%;
        margin-top: -49%;
        margin-left: auto;
    }
}