@use "global" as *;

.subCard2 {
    display: block;
    transition: 0.4s;
}

.subCard2:hover .subCard2__image img{
    transform: scale(1.05);
    transition: 0.4s;
}

.subCard2__inner {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    padding: rem(16);
    display: flex;
    gap: rem(16);
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-color: $white;
    height: 100%;
}

.subCard2__date {
    font-family: $second-font-family;
    font-size: rem(12);
    line-height: 1;
}

.subCard2__title {
    font-size: rem(16);
    font-weight: $medium;
    margin-top: rem(4);
}

.subCard2__content {
    margin-top: rem(14);
}

.subCard2__text {
    font-size: rem(16);
}

.subCard2__image {
    max-width: rem(121);
    width: 100%;
    aspect-ratio: 121 / 90;
    overflow: hidden;
}

.subCard2__image img {
    object-fit: cover;
    height: 100%;
    transition: 0.4s;
}