@use "global" as *;

.sub-mainView {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(460);
    position: relative;
    @include mq(md) {
        height: rem(548);
    }
}

.sub-mainView__title {
    font-family: $title-font-family;
    color: $white;
    font-size: rem(40);
    line-height: 1;
    font-weight: $normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    @include mq(md) {
        font-size: rem(80);
    }
}

.sub-mainView__title--capitalize {
    text-transform: capitalize;
}

.sub-mainView__title::first-letter {
    text-transform: capitalize;
}

.sub-mainView--campaign {
    background-image: url(../images/pages/campaign-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/campaign-mv-pc.jpg);
    }
}

.sub-mainView--about {
    background-image: url(../images/pages/aboutus-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/aboutus-mv-pc.jpg);
    }
}

.sub-mainView--information {
    background-image: url(../images/pages/information-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/information-mv-pc.jpg);
    }
}

.sub-mainView--blog {
    background-image: url(../images/pages/blog-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/blog-mv-pc.jpg);
    }
}

.sub-mainView--voice {
    background-image: url(../images/pages/voice-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/voice-mv-pc.jpg);
    }
}

.sub-mainView--price {
    background-image: url(../images/pages/price-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/price-mv-pc.jpg);
    }
}

.sub-mainView--faq {
    background-image: url(../images/pages/faq-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/faq-mv-pc.jpg);
    }
}

.sub-mainView--contact {
    background-image: url(../images/pages/contact-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/contact-mv-pc.jpg);
    }
}

.sub-mainView--other {
    background-image: url(../images/pages/other-mv-sp.jpg);
    @include mq(md) {
        background-image: url(../images/pages/other-mv-pc.jpg);
    }
}