@use "global" as *;

.toTop a {
    display: block;
    color: $accent-color;
    background-color: $white;
    margin-left: auto;
    width: rem(48);
    height: rem(48);
    border-radius: 50%;
    border: 1px solid $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: rem(15);
    transition: 0.4s;
    @include mq(md) {
        margin-right: rem(20);
        width: rem(80);
        height: rem(80);
    }
}

.toTop a:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: 0.4s;
}

.toTop span {
    display: inline-block;
    width: rem(1);
    height: rem(28);
    border-left: 1px solid $accent-color;
    position: relative;
    @include mq(md) {
        height: rem(40);
    }
}

.toTop span::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 50%;
    border-left: 1px solid $accent-color;
    width: rem(10);
    height: rem(10);
    transform: translateX(calc(-50% - 1px)) rotate(45deg);
}